.nav-bar {
  background: #181818;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    padding-left: 15px;

    img {
      display: block;
      width: 24px;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  nav {
    display: flex; /* Keep this as flex */
    align-items: center;
    height: 100%;
    text-align: center;
    margin-right: auto; /* Align buttons to the left */

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: flex; /* Flexbox to align icon and text */
      align-items: center; /* Vertically center icon and text */
      justify-content: center; /* Horizontally center content */
      height: 100%; /* Match the navbar height */
      padding: 0 15px; /* Padding for spacing */
      text-decoration: none;
      position: relative; /* Needed for :after pseudo-element */
      cursor: pointer; /* Ensure the button feels clickable */

      i,
      svg {
        margin-right: 8px; /* Space between icon and text */
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #ffd700;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }

    a.about-link:after {
      content: 'ABOUT';
    }

    a.contact-link:after {
      content: 'CONTACT';
    }

    a.active svg {
      color: #ffd700;
    }
  }

  ul {
    position: relative; /* Change to relative if necessary */
    bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    margin-left: auto; /* Push the list to the far right */

    li a {
      padding: 7px 0;
      display: block;
      font-size: 15px;
      line-height: 16px;

      &:hover svg {
        color: #ffd700;
      }
    }
  }
}
